@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or App.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    height: 100%;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  